/* main setup styles */

body {
  font-family: georgia, garamond, times, serif;
  box-sizing: border-box;
  width: 800px;
  margin: auto;
}

footer {
  clear: both;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  background-color: #4C86A8;
}

a {
  padding-left: 5px;
  padding-right: 5px;
}



/* my classes */

.center {
  text-align: center;
}

.floatLeft {
  float: left;
  padding: 20px;
  width: 45%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
  padding: 1em;
}

.header {
  margin: auto;
}


/* my id's */

#mySketch {
  padding: 10px;
}
