/*Styling main elements*/
* {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bad6ff
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*article formatting for recipe posts*/
article .recipe {
    clear: both;
    margin-left: 5%;
    margin-bottom: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, article p {
    padding-left: 20px;
    padding-right: 20px;
}

article {
  margin-left: 100px;
  max-width: 500px;
  min-width: 300px;
  border-radius: 10px;
  margin: auto;
}

header {
  border-radius: 10px;
  background-color:skyblue;
  height: 185px;
  width: 650px;
  background-color:skyblue;
  margin:auto;
  margin-bottom: 50px;
}

header p {
  font-size: 10pt;
}

nav {
  border-radius: 8px;
  margin-bottom: 10px;
}

button:hover{
  background-color: skyblue;
}

textarea, input {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: white;
}

aside {
  display: block;
  background-color: white;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  width: 450px;
  position: absolute;
  left:650px;
  font-size: 12px;
  font-weight: bold;
}

form h4 {
  margin: auto;
}

/*PostContent for page01post*/
.content {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  float: left;
  width: 500px;
}

/*button formatting*/
.interactive {
  float: right;
  width: 100px;
  height: auto;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

/*footer format*/
.footer {
    position: fixed;
    clear: both;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 1em;
}

/*logo sidebar*/
.logo {
    height: 25px;
    padding: none;
    position: absolute;
    top: 10px;
    right: 5px;
}

.logo img {
  width: 35px;
}

/*Link formatting*/
a {
  text-decoration: none;
  color: inherit;
}

a .recipes:hover {
  background-color: #c7ffda;
}

/*Likes heart image*/
.heart {
  content: '&#x2764';
  margin-left: 50px;
}

.heart:before {
  content: '❤';
  color: red;
  font-size: 1.5em;
}
/////////////////////




/*Banner Background of header*/
/*positioning header banner*/
#mySketch{
    margin: auto;
}
////////////////////


#commentBox {
  top: 300px;

}


/*Navigation Bar alignment and styling*/
.nav {
    display: inline;
    text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #c7ffda;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
  text-decoration: none;
}
///////////////////////////

/*For Searchbar
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.topnav .search-container button:hover {
  background: #ccc;
}
*/

.button {
    background-color: white;
}

.mainPost{
  background: white;
  border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  color: black;
}

/*Formatting recipe posts*/
.recipe {
    background: white;
    border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    color: black;
}

.recipe:hover {
  background: #c7ffda;
}
/*add ingredient Formatting*/
.ingredients {
  min-width: 100px;
  height: 30px;
  padding: 5px;
  border: none; /*remove default*/
  border-radius: 5px;
  font-weight: bold;
  font-size: 12pt;
  background-color: white;
  color: black;
  margin-bottom: 5px;
  display: block;
}

/*submit a recipe form class*/
.inputFormat {
  min-width: 100px;
  height: 30px;
  padding: 5px;
  border: none; /*remove default*/
  border-radius: 5px;
  font-weight: bold;
  font-size: 12pt;
  background-color: white;
  color: black;
  margin-bottom: 5px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

/*images in recipe posts format*/
.postImg {
  width: 400px;
  margin-left: 40px;
  border-radius: 10px;
}

/*class for small font*/
.smallfont {
  font-size: 10px;
}

/*Animated cupcake*/
.cupcake  {
  width: 112px;
  height: 192px;
  margin: 2% auto;
  background: url(images/cupcake.png) left center;
  animation: play .6s steps(7) infinite;
  animation-play-state: paused;
}

/*allows animation when mouse hovers over*/
.cupcake:hover {
  animation-play-state: running;
}

/*play animation at sprite sheet width*/
@keyframes play {
    100% { background-position: -784px; }
}
