/* body color and font */
body {
  font-family: Garamond, Georgia, serif;
  font-size: 100%;
}

/* responsive with centered text on background color */
h1 {
  padding-top: 50px;
  width: 90%;
  margin: auto;
  padding: 12px;
  font-size: 2em;
  color: black;
  text-align: center;
}
/* article sizing and rules */
article{
  clear: both;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 5%;
}

/* bottom footer id */
.footer {
  position: fixed;
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
  padding: 1em;
}


/*Animated cupcake*/
.cupcake  {
  width: 112px;
  height: 192px;
  margin: 2% auto;
  background: url(images/cupcake.png) left center;
  animation: play .6s steps(7) infinite;
  animation-play-state: paused;
}

/*allows animation when mouse hovers over*/
.cupcake:hover {
  animation-play-state: running;
}

/*play animation at sprite sheet width*/
@keyframes play {
    100% { background-position: -784px; }
}

/*wholeCupcake div*/
#div1{
   float: left;
   width: 100px;
   height: 100px;
   margin: 10px;
   padding: 10px;
}
/*plate to place wholeCupcake div*/
 #div2 {
   float: left;
   width: 384px;
   height: 220px;
   margin: 10px;
   padding: 10px;
   background-image: url(images/plate.png);
   background-size:cover;
 }

/* media query for desktop */
@media only screen and (min-width: 768px) {

  /* change h1 color */
  h1 {
    padding-top: 50px;
    color: black;
  }
  /* change img parameters */
  img {
    display: inline;
    padding: 14px;
    border-bottom: 0px;
  }
}
