/* body color and font */

body {
  font-family: Garamond, Georgia, serif;
  font-size: 100%;
}

/* responsive with centered text on background color */

h1 {
  padding-top: 50px;
  width: 90%;
  margin: auto;
  padding: 12px;
  font-size: 2em;
  color: black;
  text-align: center;
}

/* img display and border-bottom */

img {
  display: block;
  margin: auto;
  padding: 14px;
  border-bottom: 15px;
  width: auto;
}

/* remove border-right on last img */

img:last-child {
  border: none;
}

/* bottom footer id */
.footer {
  position: fixed;
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
  padding: 1em;
}

/* media query for desktop */

@media only screen and (min-width: 768px) {
  /* change h1 color */
  h1 {
    padding-top: 50px;
    color: black;
  }
  /* change img parameters */
  img {
    display: inline;
    padding: 14px;
    border-bottom: 0px;
  }
  /* center section */
  section {
    text-align: center;
  }
}

article {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 5%;
}
